<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>Đăng Nhập</title>
</head>

<body>
    <form method="post" action="/checklogin" class="login">
        <div class="chulogin">LOGIN</div>

        <div class="nhap">
            <div>Username:</div>
            <input type="text" name="username" id="username" required>
        </div>
        
        <div class="nhap">
            <div>Password:</div>
            <input type="password" name="password" id="password" required>
        </div>
        
        <div class="or">
            <input type="submit" name="dangnhap" value="Đăng nhập">
        </div>
    </form>
</body>
</html>
